.card1{
    width: 140px;
    height: 197px;
    background-image: url(cards7e0a18f0.png);
    float: left;
    overflow: hidden;
    background-position: 143px -191px;
}
.card2{
    width: 140px;
    height: 197px;
    background-image: url(cards7e0a18f0.png);
    float: left;
    overflow: hidden;
    background-position: 574px 795px;
}
.card3{
    width: 140px;
    height: 197px;
    background-image: url(cards7e0a18f0.png);
    float: left;
    overflow: hidden;
    background-position: 287px 1193px;
}
.card4{
    width: 140px;
    height: 197px;
    background-image: url(cards7e0a18f0.png);
    float: left;
    overflow: hidden;
    background-position: 430px 397px;
}
.card5{
    width: 140px;
    height: 197px;
    background-image: url(cards7e0a18f0.png);    
    overflow: hidden;
    background-position: 573px 196px;
}
.card6{
    width: 43px;
    height: 197px;
    background-image: url(cards7e0a18f0.png);
    float: left;
    overflow: hidden;
    background-position: 143px -191px;
}
.card7{
    width: 43px;
    height: 197px;
    background-image: url(cards7e0a18f0.png);
    float: left;
    overflow: hidden;
    background-position: 574px 795px;
}
.card8{
    width: 43px;
    height: 197px;
    background-image: url(cards7e0a18f0.png);
    float: left;
    overflow: hidden;
    background-position: 287px 1193px;
}
.card9{
    width: 43px;
    height: 197px;
    background-image: url(cards7e0a18f0.png);
    float: left;
    overflow: hidden;
    background-position: 430px 397px;
}
.card10{
    width: 140px;
    height: 197px;
    background-image: url(cards7e0a18f0.png);    
    overflow: hidden;
    background-position: 573px 196px;
}