li ul{
    list-style-type: lower-roman;
}
ul{
    list-style-type: upper-roman;
    width: 350px;
}
div{
    color: green;
    background-color: black;
    width: 400px;
    height: 4;
    overflow: auto;
}